.vscode
# dsp_hw1
dsp_hw1/report.docx
dsp_hw1/test
dsp_hw1/train
dsp_hw1/.vscode
dsp_hw1/model_01.txt
dsp_hw1/model_02.txt
dsp_hw1/model_03.txt
dsp_hw1/model_04.txt
dsp_hw1/model_05.txt
dsp_hw1/result.txt
dsp_hw1/hw1_b09901080
dsp_hw1/src/test_hmm.c
dsp_hw1/hw1_b09901080.zip

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
